.main-nav_title {
    color: white; 
}

.main-nav_title a {
    text-decoration: none;
    color:white; 
}

.main-nav_header-nav {
    display:none; 
}

@media (min-width: 768px) {
    .main-nav_header-nav {
        display: block; 
    }
}